fixture/swift-hello.wasm filter=lfs diff=lfs merge=lfs -text
fixture/0.wasm.opt filter=lfs diff=lfs merge=lfs -text
fixture/simple.wasm.opt filter=lfs diff=lfs merge=lfs -text
fixture/swift-hello.wasm.opt filter=lfs diff=lfs merge=lfs -text
fixture/0.wasm.opt.wat filter=lfs diff=lfs merge=lfs -text
fixture/simple.wasm.opt.wat filter=lfs diff=lfs merge=lfs -text
fixture/swift-hello.wasm.opt.wat filter=lfs diff=lfs merge=lfs -text
